.DS_Store

Carthage
Pods
#PodFile.lock
#Gemfile.lock

xcuserdata
xcshareddata

# fastlane specific
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
out/

####################
# Project Dependent:

LogContentExample
LogContentTests